<%- include("partials/header", { title: title }) %>

<div class="container text-left mt-4 mb-auto">
  <h1 class="mb-4">Edit Post <%= post.id %></h1>
  <form action="/editPost" method="POST">
    <div class="mb-3">
        <input type="hidden" id="postId" name="postId" value="<%= post.id %>">
    </div>
    <div class="mb-3">
        <label for="postTitle" class="form-label">Post Title</label>
        <input type="text" class="form-control" id="postTitle" name="postTitle" value="<%= post.title %>">
    </div>
    <div class="mb-3">
        <label for="postAuthor" class="form-label">Post Author</label>
        <input type="text" class="form-control" id="postAuthor" name="postAuthor" value="<%= post.author %>">
    </div>
    <div class="mb-3">
        <label for="postText" class="form-label">Post Text</label>
        <textarea class="form-control" id="postText" name="postText" rows="3"><%= post.text %></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<%- include("partials/footer.ejs", { title: title }) %>